<div class="">
  <h2 class="text-3xl font-bold text-white mb-6">Create Account</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-4">
    <div>
      <input
        formControlName="username"
        placeholder="Username"
        class="w-full bg-neutral-800 border border-white/10 rounded-lg px-4 py-3 text-white focus:border-emerald-500 outline-none transition-all"
      />
      <p
        *ngIf="isSubmitted() && registerForm.get('username')?.errors?.['required']"
        class="text-red-500 text-xs mt-1"
      >
        Username is required
      </p>
    </div>

    <div>
      <input
        formControlName="email"
        type="email"
        placeholder="Email Address"
        class="w-full bg-neutral-800 border border-white/10 rounded-lg px-4 py-3 text-white focus:border-emerald-500 outline-none transition-all"
      />

      <p
        *ngIf="isSubmitted() && registerForm.get('email')?.errors?.['required']"
        class="text-red-500 text-xs mt-1"
      >
        Email is required
      </p>
      <p
        *ngIf="isSubmitted() && registerForm.get('email')?.errors?.['email']"
        class="text-red-500 text-xs mt-1"
      >
        Enter a valid email
      </p>
    </div>

    <div>
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="w-full bg-neutral-800 border border-white/10 rounded-lg px-4 py-3 text-white focus:border-emerald-500 outline-none transition-all"
      />
      <p
        *ngIf="isSubmitted() && registerForm.get('password')?.errors?.['required']"
        class="text-red-500 text-xs mt-1"
      >
        Password is required
      </p>
      <p
        *ngIf="isSubmitted() && registerForm.get('password')?.errors?.['minlength']"
        class="text-red-500 text-xs mt-1"
      >
        Password must be at least 6 characters
      </p>
    </div>

    <div>
      <input
        formControlName="confirmPassword"
        type="password"
        placeholder="Confirm Password"
        class="w-full bg-neutral-800 border border-white/10 rounded-lg px-4 py-3 text-white focus:border-emerald-500 outline-none transition-all"
      />
      <p
        *ngIf="isSubmitted() && registerForm.get('confirmPassword')?.errors?.['required']"
        class="text-red-500 text-xs mt-1"
      >
        Please confirm your password
      </p>
      <p
        *ngIf="isSubmitted() && registerForm.hasError('mismatch')"
        class="text-red-500 text-xs mt-1"
      >
        Passwords do not match
      </p>
    </div>

    <button
      type="submit"
      class="cursor-pointer w-full bg-emerald-500 hover:bg-emerald-400 text-neutral-950 font-bold py-3 rounded-lg transition-all"
    >
      Get Started
    </button>
    <div class="text-center pt-4">
      <p class="text-gray-500 text-xs">
        Already have an account?
        <a
          routerLink="/login"
          class="text-emerald-400 hover:text-emerald-300 font-bold ml-1 transition-colors"
          >Sign In</a
        >
      </p>
    </div>
  </form>
</div>
