:root {
  --main-color: #28c4b9;
  --main-transition: all 0.3s ease;
}
body {
  background-color: #f9f7fa !important;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000 !important;
}

/* header */
header {
  background-color: #f8f6f7;
}

header .nav-item {
  padding: 0 15px;
}
header .nav > li > a {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  transition: var(--main-transition);
}
header .nav > li > a:hover,
header .nav > li > a.active {
  color: var(--main-color) !important;
}

header .nav > li > a::before {
  content: "";
  background-color: var(--main-color);
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--main-transition);
  width: 0;
}

header .nav > li > a:hover::before,
header .nav > li > a.active::before {
  width: 100%;
}

/* hero */ /* Custom Circle Indicators */
.carousel-indicators [button],
.carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  background-color: #bbb;
  border: 2px solid transparent;
  margin: 0 6px;
  transition: var(--main-transition);
  opacity: 1;
}

.carousel-indicators .active {
  background-color: var(--main-color) !important;
  transform: scale(1.2);
}

.carousel-item img {
  width: 100%;
  height: 500px;
}

/* services */
.service-card {
  background-color: var(--main-color);
  transition: transform 0.3s ease;
}
.row .col-md-4:first-child .service-card {
  background-color: #29aba4;
}
.row .col-md-4:nth-child(2) .service-card {
  background-color: #2abcb3;
}
.row .col-md-4:nth-child(3) .service-card {
  background-color: #31cbc0;
}

.service-card:hover {
  transform: translateY(-10px);
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  color: var(--main-color);
  border-radius: 50%;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.95rem;
  line-height: 1.6;
  opacity: 0.9;
}

/* plans */
.price-container {
  background-color: #e4e2e5;
}

.price-box {
  position: relative;
  display: inline-flex;
  font-weight: 800;
  color: #333;
}

.price-box .currency {
  font-size: 1.2rem;
  align-self: flex-start;
  margin-top: 10px;
}

.price-box .amount {
  font-size: 4rem;
  line-height: 1;
}

.price-box .decimal {
  font-weight: normal;
}

.card-footer {
  transition: opacity 0.3s ease;
}
.card-footer:hover {
  opacity: 0.9;
}
.card-body ul {
  padding: 0 20px;
}
.card-body ul li i {
  width: 25px;
  display: inline-block;
}

.card-body {
  padding-left: 2.5rem !important;
}

/* features */
.header-line {
  width: 100%;
  height: 1px;
  background-color: #dee2e6;
  position: absolute;
  left: 0;
}

.price-badge {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 65px;
  height: 65px;
  background-color: var(--main-color);
  color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  line-height: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.card-body {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.custom-feature-card {
  transition: var(--main-transition);
  border-color: #e0e0e0 !important;
}

.custom-feature-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.card-body {
  padding-top: 2rem;
}

/* features */
.feature-img-corner {
  position: absolute;

  right: 0px;
  bottom: -17px;
  z-index: 1;
  transition: transform 0.3s ease;
}

.feature-img-corner img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.custom-feature-card {
  overflow: hidden;
}

/* logo bar */

.partner-logo {
  max-width: 120px;

  height: auto;
  width: 100%;

  object-fit: contain;
}

/* footer */
.footer-links li {
  margin-bottom: 10px;
}
.footer-links a:hover {
  color: var(--main-color) !important;
}

.social-icon {
  width: 35px;
  height: 35px;
  background-color: var(--main-color);
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
}

.badge-box {
  background-color: var(--main-color);
  color: white;
  padding: 5px 12px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
}
