body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.gallery img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s ease;
}

.gallery img:hover {
  transform: scale(0.9);
}
