* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

/* =========================================
    1. BASE STYLES (MOBILE FIRST)
    Target: Smartphones (<768px)
    =========================================   */

.app-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";
}

.main-header {
  grid-area: header;
  padding: 1rem;
}
.content {
  grid-area: main;
  padding: 1rem;
}
.sidebar {
  grid-area: sidebar;
  padding: 1rem;
  background: #f4f4f4;
}
.main-footer {
  grid-area: footer;
  text-align: center;
  padding: 1rem;
}

.main-nav ul {
  display: none;
  list-style: none;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.card {
  background: #ddd;
  padding: 2rem;
  text-align: center;
}

/* =========================================
    2. TABLET LAYOUT
    Target: Tablets (>=768px)
    =========================================   */
@media (min-width: 768px) {
  .app-layout {
    grid-template-columns: 70% 30%;
    grid-template-areas:
      "header header"
      "main sidebar"
      "footer footer";
  }

  .main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* =========================================
    3. DESKTOP LAYOUT
    Target: Laptops/Desktops (>=1024px)
    =========================================   */
@media (min-width: 1024px) {
  .app-layout {
    /* header full width, content centered and max width 800px, sidebar sticky */
    grid-template-columns: 1fr minmax(auto, 800px) 250px 1fr;
    grid-template-areas:
      "header header header header"
      /* . means leave column empty + centered content*/
      ". main sidebar . "
      "footer footer footer footer";
  }

  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
  }

  .sidebar {
    position: sticky;
    top: 20px;
    align-self: start;
    height: fit-content;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
