body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  height: 100vh;
  background-color: rgb(240, 240, 240);
}

.user-card {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
}
