<div class="">
  <h2 class="text-3xl font-bold text-white mb-6">Login</h2>

  @if (errorMessage()) {
    <div class="bg-red-500/10 border border-red-500 text-red-500 p-3 rounded-lg text-sm mb-4">
      {{ errorMessage() }}
    </div>
  }

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">
    <div>
      <input
        formControlName="email"
        type="email"
        placeholder="Email Address"
        class="w-full bg-neutral-800 border border-white/10 rounded-lg px-4 py-3 text-white focus:border-emerald-500 outline-none transition-all"
      />
      @if (isSubmitted()) {
        @if (loginForm.get('email')?.hasError('required')) {
          <p class="text-red-500 text-xs mt-1">Email is required</p>
        } @else if (loginForm.get('email')?.hasError('email')) {
          <p class="text-red-500 text-xs mt-1">Enter a valid email</p>
        }
      }
    </div>

    <div>
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="w-full bg-neutral-800 border border-white/10 rounded-lg px-4 py-3 text-white focus:border-emerald-500 outline-none transition-all"
      />
      @if (isSubmitted()) {
        @if (loginForm.get('password')?.hasError('required')) {
          <p class="text-red-500 text-xs mt-1">Password is required</p>
        } @else if (loginForm.get('password')?.hasError('minlength')) {
          <p class="text-red-500 text-xs mt-1">Password must be at least 6 characters</p>
        }
      }
    </div>

    <button
      type="submit"
      class="cursor-pointer w-full bg-emerald-500 hover:bg-emerald-400 text-neutral-950 font-bold py-3 rounded-lg transition-all"
    >
      Sign In
    </button>
    <div class="text-center pt-4">
      <p class="text-gray-500 text-xs">
        Don't have an account?
        <a
          routerLink="/signup"
          class="text-emerald-400 hover:text-emerald-300 font-bold ml-1 transition-colors"
          >Sign Up</a
        >
      </p>
    </div>
  </form>
</div>
