@use "../abstracts/config" as cfg;
@use "../abstracts/functions" as fn;
@use "../abstracts/mixins" as mx;

.row {
  display: flex;
  flex-wrap: wrap;
}

@for $value from 1 through cfg.$columns {
  // manual
  //   $width: percentage(math.div($value, cfg.$columns));

  .col-#{$value} {
    // width: $width;
    width: fn.calculateRem($value);
  }
}

// responsive using each
@each $break, $width in cfg.$breakpoints {
  @include mx.respond-to($break) {
    @for $i from 1 through cfg.$columns {
      .col-#{$break}-#{$i} {
        width: fn.calculateRem($i);
      }
    }
  }
}
